[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-mptt = "*"
django-extensions = "*"
drf-yasg = "*"
djoser = "*"
psycopg2 = "*"
django-phonenumber-field = "*"
django-filter = "*"
flake8 = "*"
python-dotenv = "*"
postgres = "*"
psycopg2-binary = "*"
phonenumbers = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9.7"
